{% extends 'himyb/base.html' %}
{% block header %}
<header
    style="background: linear-gradient(to bottom, rgba(92, 77, 66, 0.5) 0%, rgba(92, 77, 66, 0.2) 100%), url({{ url_image }});"
    class="band">
    <div class="container h-50">
        <div class="row h-50 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">
                    {{ user.name }}
                </h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block my_informations %}
<section class="informations m-auto">
    <div class="container mt-5">
        {% for k, v in user.items %}
        <div class="row mt-1">
            <div class="col-md-2"></div>
            <div class="col-md-4">{{ k }} :</div>
            <!-- <div class="col-md-6 bg-primary">{{ v }}</div> -->
            <input required="required" disabled="disabled" class="col-md-6" value="{{ v }}">
        </div>
        {% endfor %}
    </div>
    <!-- <div class="container bg-black"></div> -->
</section>
{% endblock %}