<section class="form">
    <div class="main ml-auto mr-auto mt-5">
        <h5 class="text-center">
            {{ h5 }}
        </h5>
        <form class="mt-5" method="{{ method }}" action="{% url action %}">
            {% csrf_token %}
            {% if message %}
            <div class="alert alert-primary">{{ message }}</div>
            {% endif %}
            {% if register %}
            <div class="form-group">
                <label for="firstname">Prénom</label>
                {{ form.firstname }}
                <div class="alert-primary">{{ form.firstname.errors }}</div>
                <!-- <input type="text" name="firstname" class="form-control" id="firstname" aria-describedby="inputFirstname"> -->
            </div>
            <div class="form-group">
                <label for="lastname">Nom</label>
                {{ form.lastname }}
                <div class="alert-primary">{{ form.lastname.errors }}</div>
            </div>
            {% endif %}
            <div class="form-group">
                <label for="inputEmail1">{{ mail }}</label>
                {{ form.email }}
                <div class="alert-primary">{{ form.email.errors }}</div>
            </div>
            <div class="form-group">
                <label for="inputPassword1">{{ password }}</label>
                {{ form.password_field }}
                <small id="passwordlHelp" class="form-text text-muted">{{ password_help }}</small>
                <div class="row" id="alert"></div>
            </div>
            {% if register %}
            <div class="form-group">
                <label for="inputPassword2">{{ confirm }}</label>
                <input type="password" name="password_confirmation" class="form-control" id="inputPassword2" value="" />
            </div>
            <div>
                <input type="checkbox" id="legal-mention-accepted" name="legal-mention-accepted"
                       checked>
                <label for="legal-mention-accepted" class="small">Veuillez acceptez les <a href="{% url 'user:legal_mention' %}">mentions légales</a></label>
            </div>
            {% endif %}
            <div class="row mt-5 pb-5">
                <button type="submit" id='submit-form' class="btn btn-primary m-auto">{{ btn }}</button>
            </div>
            <div class="text-center"><a href="{% url link %}" class="text-muted h6">{{ text }}</a></div>
        </form>
    </div>
</section>