{% extends 'himyb/base.html' %}

{% block header %}
<header
    style="background: linear-gradient(to bottom, rgba(92, 77, 66, 0.5) 0%, rgba(92, 77, 66, 0.2) 100%), url({{ url_image }});"
    class="band">
    <div class="container h-50">
        <div class="row h-50 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">
                    {{ food_detail.name }}
                </h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="mt-5">
                <h3 class="h5 mb-2">Note nutritionnelle de couleur</h3>
                <img src="https://static.openfoodfacts.org/images/misc/nutriscore-{{ food_detail.nutriscore }}.svg" alt="nutriscore">
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4 mt-5">
            <h3 class="h5 mb-2">Repère nutritionnels pour 100g</h3>
            <div class="ml-3 mt-4 mb-5">
                <div class="row mt-3">
                    <img src="https://static.openfoodfacts.org/images/misc/high.svg" alt="pastille de couleur" class="pastille">
                    <div class="inline-block mt-auto mb-auto m-2">{{ food_detail.nutri_per_100g }}</div>
                </div>
                <div class="row mt-3">
                    <img src="https://static.openfoodfacts.org/images/misc/high.svg" alt="pastille de couleur" class="pastille">
                    <div class="inline-block mt-auto mb-auto m-2">{{ food_detail.nutri_per_100g }}</div>
                </div>
                <div class="row mt-3">
                    <img src="https://static.openfoodfacts.org/images/misc/high.svg" alt="pastille de couleur" class="pastille">
                    <div class="inline-block mt-auto mb-auto m-2">{{ food_detail.nutri_per_100g }}</div>
                </div>
                <div class="row mt-3">
                    <img src="https://static.openfoodfacts.org/images/misc/high.svg" alt="pastille de couleur" class="pastille">
                    <div class="inline-block mt-auto mb-auto m-2">{{ food_detail.nutri_per_100g }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="m-auto">
            <a href="{{ food_detail.link_open_food_fact }}" class="text-muted text-center">Lien vers la fiche open food fact</a>
        </div>
    </div>
</div>
{% endblock %}
