{% extends 'business/base.html' %}
{% block title %}
<h1 class="text-uppercase text-white font-weight-bold">
    Du gras, oui, mais de la qualité !
</h1>
<hr class="divider my-4" />
{% endblock %}
{% block subtitle %}
<p class="text-white-75 font-weight-light mb-5">
    Trouvez un produit de substitution pour ceux
    que vous consommez tous les jours.
</p>
<!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a> -->
<div class="input-group mb-3">
    <input type="text" class="form-control js-scroll-trigger" placeholder="Produit" aria-describedby="basic-addon3">
    <div class="input-group-append">
        <button type="submit" class="input-group-text" id="basic-addon3">Chercher</button>
    </div>
</div>

{% endblock %}